@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#12001f,#2d0b59,#5b21b6,#0f172a);
color:#fff;
padding:40px 20px;
overflow-x:hidden;
}

.container{
max-width:900px;
margin:auto;
background:rgba(255,255,255,.08);
backdrop-filter:blur(15px);
border-radius:25px;
padding:40px;
box-shadow:0 0 40px rgba(0,0,0,.45);
animation:fadeIn 1.2s;
}

h1{
text-align:center;
font-size:42px;
margin-bottom:40px;
color:#ffd700;
}

h2{
text-align:center;
font-size:32px;
margin:60px 0 30px;
color:#ffd54f;
}

p{
font-size:22px;
line-height:2;
margin:35px 0;
text-align:center;
display:block;
animation:fade .8s;
}

hr{
border:none;
height:1px;
background:rgba(255,255,255,.25);
margin:60px 0;
}

.end{
display:block;
text-align:center;
font-size:30px;
line-height:2;
color:#ffe082;
padding:40px 0;
animation:fade 1.2s;
}

b{
color:#ffd54f;
}

@keyframes fade{
from{
opacity:0;
transform:translateY(25px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@media(max-width:700px){

.container{
padding:25px;
}

h1{
font-size:30px;
}

h2{
font-size:24px;
}

p{
font-size:18px;
line-height:1.9;
}

.end{
font-size:22px;
}

}
